include src/sim_soens_lite/soen_sim_data/ *
include src/sim_soens_lite/ *
include src/sim_soens_lite/soen_sim_data/rate_array_default_thresholds_saturations.soen
include src/sim_soens_lite/rate_array_default_thresholds_saturations.soen
include src/sim_soens_lite/sim_soens_lite/*.txt
include src/sim_soens_lite/sim_soens_lite/*.soen
include src/sim_soens_lite/soen_sim_data/*.soen
include src/sim_soens_lite/*.soen
include src/sim_soens_lite/soen_sim_data/*.pickle
include src/sim_soens_lite/*.pickle
include src/sim_soens_lite/soen_sim_data/*.pkl
include src/sim_soens_lite/*.pkl